<aside class="col-sm-3 sidebar sidebar-right">

    <div class="widget">
        <h4>{{ 'side.contact.address'|trans }}</h4>
        <address>
            Paris, France
        </address>
        <h4>{{ 'form.contact.phone'|trans }}:</h4>
        <address>
            (+33) 649-871-524
        </address>
    </div>

</aside>