{# src/EK/OjaadBundle/Resources/views/Admin/member.html.twig #}
{# Template fof Bundle #}

{% extends "EKOjaadBundle::layout_admin.html.twig" %}

{% block body %}
    <br /><br /><br /><br />
    <h3>Espace membre</h3>

{% endblock %}