{# src/EK/OjaadBundle/Resources/views/Home/mention.html.twig #}
{# Template fof Bundle #}

{% extends "EKOjaadBundle::layout_large.html.twig" %}

{% block body %}
    <article class="col-sm-8 maincontent">

        <header class="page-header">
            <h1 class="page-title">{{ 'mymenu.mention'|trans }}</h1>
        </header>

        <h3>MENTIONS LÉGALE S DU SITE OJAAD</h3>

        <p>Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l'économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs et visiteurs du site OJAAD les présentes mentions légales.</p>
        <p>Le site OJAAD est accessible à l'adresse suivante : www.ojaad.org (ci-après "le Site"). L'accès et l'utilisation du Site sont soumis aux présentes "Mentions légales" détaillées ci-après ainsi qu'aux lois et/ou règlements applicables.</p>
        <p>La connexion, l'utilisation et l'accès à ce Site impliquent l'acceptation intégrale et sans réserve de l'internaute de toutes les dispositions des présentes Mentions Légales.</p>

        <h4><b>ARTICLE 1 - INFORMATIONS LÉGALES</b></h4>
        <p>En vertu de l'Article 6 de la Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé dans cet article l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
            Le site OJAAD est édité par :</p>

        <p>Association OJAAD</p>

        <p>ayant son siège social à l'adresse suivante : Paris, France, et immatriculée au numéro suivant : 
        <i>en cours d'immatriculation</i><br>
        Téléphone : (+33) 649 871 524<br>
        Adresse e-mail : contact@ojaad.org<br>ci après "l'Éditeur"</p>

        <p>Le Directeur de publication est : Flore LIATCHE
        Adresse e-mail de contact : liatche.flore06@gmail.com
            ci après "le Directeur de publication"</p>

        <p>Le site OJAAD est hébergé par : GANDI NET<br>
        dont le siège est situé à l'adresse suivante : 63 BOULEVARD MASSENA, 5013 PARIS<br>
        Téléphone : +33.1 70 39 37 48<br>
        Adresse e-mail : direction@gandi.net<br>ci après "l'Hébergeur"</p>

        <p>Sont considérés comme utilisateurs tout les internautes qui naviguent, lisent, visionnent et utilisent le site OJAAD
            ci après les "Utilisateurs"</p>


        <h4><b>ARTICLE 2 - ACCESSIBILITÉ</b></h4>
        <p>Le Site est par principe accessible aux utilisateurs 24/24h et 7/7j, sauf interruption, programmée ou non, pour des besoins de maintenance ou en cas de force majeure.</p>
        <p>En cas d'impossibilité d'accès au Site, celui-ci s'engage à faire son maximum afin d'en rétablir l'accès. Le Site ne saurait être tenu pour responsable de tout dommage, quelle qu'en soit la nature, résultant de son indisponibilité.</p>


        <h4><b>ARTICLE 3 - COLLECTE DE DONNÉES ET LOI INFORMATIQUE ET LIBERTÉS</b></h4>
        <p><!-- <img src="{{ asset('assets/images/i03.jpg') }}" alt="" class="img-rounded pull-left" > -->Ce site est déclaré à la Commission Nationale Informatique et Libertés (CNIL) sous le numéro <i>en cours d'immatriculation</i></p><br>
        <p>En outre, il est conforme aux dispositions de la Loi 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés. En vertu de celle-ci l'Utilisateur bénéficie notamment d'un droit d'opposition (art. 32 et 38), d'accès (art. 38 et 39) et de rectification (art. 40) des données le concernant.</p>
        <p>Pour faire usage de celui-ci, l'Utilisateur doit s'adresser à l'Éditeur en le contactant à l'adresse suivante : liatche.flore06@gmail.com, ou par courrier adressé au siège social de l'Éditeur en précisant ses nom, prénom(s), adresse et adresse(s) e-mail.</p>

        <h4><b>ARTICLE 4 - LOI APPLICABLE ET JURIDICTION</b></h4>
        <p>A compléter</p>

        <h4><b>ARTICLE 5 - CONTACT</b></h4>
        <p>Pour tout signalement de contenus ou d'activités illicites, l'Utilisateur peut contacter l'Éditeur à l'adresse suivante : contact@ojaad.org, ou par courrier recommandé avec accusé de réception adressé à l'Éditeur aux coordonnées précisées dans les présentes mentions légales.</p>

    </article>
    <!-- /Article -->

    <!-- Sidebar -->
    <aside class="col-sm-4 sidebar sidebar-right">

        <div class="widget">
            <h4>{{ 'mymenu.mention'|trans }}</h4>
            <ul class="list-unstyled list-spaces">
                <li><img src="{{ asset('assets/images/mac.jpg') }}" alt=""></li>
            </ul>
        </div>

    </aside>
    <!-- /Sidebar -->
{% endblock %}